<div class="dish-card">
    <div class="dish-card-header">
        {{name}}
    </div>
        <p>
            How to: {{description}}
            <br>
            <br>
            {{funny_quip}}
        </p>
    </div>
</div>


{{#each allExercises}}
    <div class="dish col-md-5">
        <a href="/exercises/{{exercise_category_id}}">
            <p>
                {{id}}
                {{name}}
            </p>
        </a>
    </div>
{{/each}}
</div>