 <div class="header">
<div class="hero-image">
  </div>
  


   <nav class="neonText">
    <a href="/landing" class="btn btn-dark">Home</a>
    <a id="logout" class="btn btn-dark">Logout</a>
    <a id="favorites" class="btn btn-dark" href="/favorites">Favorites</a>
</nav>
 <div class="row">
{{#each allExercises}}

 <section class="bg-black pt-5 pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12">
      </div>
    </div>
    <div class="row">
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card">
          <img src="{{{image}}}" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text mb-4">{{description}}</p>
            <p class="card-text mb-4">{{funny_quip}}</p>
            <a  id="saveFav" class="btn btn-dark mt-auto align-self-center " value="{{id}}">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    {{/each}} 
    </div>
 </section>
{{!-- {{/each}} --}}


  {{!-- <div class="row">  --}}
    
  {{!-- {{#each allExercises}}
 <section class="bg-black pt-5 pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-3">
      <div class="col-12"> --}}
     
    {{!-- <div class="row">
      <!--ADD CLASSES HERE d-flex align-items-stretch-->
      <div class="col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card">
          <img src="{{{image}}}" class="card-img-top" alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text mb-4">{{description}}</p>
            <p class="card-text md-4">{{funny_quip}}</p>
            <button id="saveFav" class="btn btn-primary" value="{{id}}">Save</button>
          </div>
        </div>
      </div>
    </div> --}}
    

    {{!-- </section> --}}
{{!-- {{/each}} --}}
  {{!-- </div> --}}



{{!-- 
 <div class="col-lg-4 mb-4 d-flex align-items-stretch">
    <div class="card">
      <div class="card-body">
  <img src="{{image}}" class="card-img-top" alt="squat">
  <div class="card-body p-3">
    <h2 class="card-title">{{name}}</h2>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{funny_quip}}</p>
    <button id="saveFav" class="btn btn-primary" value="{{id}}">Save</button>
  </div>
</div>
</div>
</div>
  </div>
{{/each}}
 </div>  --}}

  
  <script src="/js/save-to-favorites.js"></script>
  
