<div class="menu-container">
    <div class="card-header col-md-10">
        <h1> I'm the Landing Page! </h1>
    </div>


<img src="/images/logo.png" class="hero-image" alt="logo">
<div class="menu-container">
    <div class="card-header col-md-10">
        <h2>Welcome {{user}}</h2>
        <h2>Pick a Category</h2>
    </div>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" id="cat-row">
      <div class="card-body">
        <h3 class="card-title">{{allCategories.[0].name}}</h3>
        <p class="card-text">For when no one's watching. Unless you're into that sorta stuff!</p>
        <a href="/exercises/{{allCategories.[0].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" id="cat-row">
      <div class="card-body">
        <h3 class="card-title">{{allCategories.[1].name}}</h3>
        <p class="card-text">Fun with your pet! Or someone else's, whatever!</p>
        <a href="/exercises/{{allCategories.[1].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0" >
    <div class="card" id="cat-row">
      <div class="card-body">
        <h3 class="card-title">{{allCategories.[2].name}}</h3>
        <p class="card-text">Lovers and Friends</p>
        <a href="/exercises/{{allCategories.[2].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" id="cat-row">
      <div class="card-body">
        <h3 class="card-title">{{allCategories.[3].name}}</h3>
        <p class="card-text">Get the kids involved! Way more interactive than screen time!</p>
        <a href="/exercises/{{allCategories.[3].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>
</div>

    
        <h2> All Favorites</h2>
{{#each allFavorites}}
    <div class="dish col-md-5">
        <a href="/categories/{{id}}">
            <p>
                {{!-- {{id}} --}}
                {{name}}
            </p>
        </a>
      <button id="delete-fave">Delete</button>
    </div>
{{/each}}
</div>
