<div class="header">
<div class="hero-image">
  </div>
  <nav>
    <a href="/">Home</a>
    <button id="logout" class="btn-no-style">Logout</button>
  </nav>
  <div>
        <h1>Welcome {{user}}</h1>
        <h2>Pick a Category</h2>
    </div>
</div>



<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" id="cat-row">
      <div class="card-body">
        <img src="/images/solo.jpg" class="card-img-top" alt="solo">
        <h3 class="card-title">{{allCategories.[0].name}}</h3>
        <p class="card-text">For when no one's watching. Unless you're into that sorta stuff!</p>
        <a href="/exercises/{{allCategories.[0].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" id="cat-row">
      <div class="card-body">
          <img src="/images/withpet.jpg" class="card-img-top" alt="with pet">
        <h3 class="card-title">{{allCategories.[1].name}}</h3>
        <p class="card-text">Fun with your pet! Or someone else's, whatever!</p>
        <a href="/exercises/{{allCategories.[1].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0" >
    <div class="card" id="cat-row">
      <div class="card-body">
          <img src="/images/withpartner.jpg" class="card-img-top" alt="with partner">
        <h3 class="card-title">{{allCategories.[2].name}}</h3>
        <p class="card-text">Lovers and Friends</p>
        <a href="/exercises/{{allCategories.[2].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" id="cat-row">
      <div class="card-body">
        <img src="/images/withkids.jpg" class="card-img-top" alt="with children">
        <h3 class="card-title">{{allCategories.[3].name}}</h3>
        <p class="card-text">Get the kids involved! Way more interactive than screen time!</p>
        <a href="/exercises/{{allCategories.[3].id}}" class="btn btn-danger">View</a>
      </div>
    </div>
  </div>
</div>
</div>

    
        <h2> All Favorites</h2>
{{#each allFavorites}}
    <div class="dish col-md-5">
        <a href="/singleExercise/{{id}}">
            <p>
                {{!-- {{id}} --}}
                {{name}}
            </p>
        </a>
      <button id="delete-fave" value="{{id}}">Delete</button>
    </div>
{{/each}}
</div>
<<<<<<< HEAD






<script src="/js/save-to-favorites.js"></script>
=======
 <script src="/js/save-to-favorites.js"></script>
 <script src="/js/logout.js"></script>
>>>>>>> dev
